body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

/* TOP BAR */
.topbar{
background:rgb(175, 100, 54);
color:rgb(255, 255, 255);
text-align:center;
padding:8px;
font-size:14px;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:rgb(0, 0, 0);
border-bottom:1px solid #ddd;
}

.nav-left{
display:flex;
align-items:center;
gap:40px;
}

.logo img{
height:45px;
}

.img{
  height:45px;
}

.menu a{
text-decoration:none;
color:black;
margin-right:20px;
font-weight:500;
}

/* RIGHT SIDE */
.nav-right{
display:flex;
align-items:center;
gap:20px;
}

.icon-btn{
border:none;
background:none;
font-size:20px;
cursor:pointer;
}

.icon-btn img{
height:30px;
}

/* ========================= */
/* BUSCADOR */
/* ========================= */

.input-container {
  width: 260px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,100% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.1);
  }
}



/* BREADCRUMB */
.breadcrumb{
padding:20px 40px;
color:#666;
}

/* CATEGORIAS */

.categorias{
display:flex;
gap:15px;
padding:10px 40px;
flex-wrap:wrap;
}

.categorias button{
background:white;
border:2px solid black;
color:black;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
transition:.3s;
}

.categorias button:hover{
background:black;
color:white;
}

.categorias .activo{
background:black;
color:white;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
gap:25px;
padding:20px 40px;
}

/* CARD PRODUCTO */
.card{
height:450px;
border-radius:20px;
background-size:cover;
background-position:center;
position:relative;
overflow:hidden;
transition:.4s;
cursor:pointer;
}

.card:hover{
transform:scale(1.04);
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.6);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
opacity:0;
transition:.4s;
}

.card:hover .overlay{
opacity:1;
}

/* BOTONES */
button{
padding:8px 14px;
border:none;
border-radius:8px;
background:rgb(175, 100, 54);
color:white;
cursor:pointer;
}

button:disabled{
background:gray;
}

/* CARRITO LATERAL */
.carrito{
position:fixed;
top:80px;
right:20px;
width:260px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* DARK MODE */
.dark{
background:#1e1e1e;
color:white;
}

.agotado{
filter:grayscale(100%);
opacity:.6;
}